In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')  
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
ohe_geography = OneHotEncoder()
geography_encoded = ohe_geography.fit_transform(data[['Geography']])
geography_encoded_df = pd.DataFrame(geography_encoded.toarray(), columns=ohe_geography.get_feature_names_out(['Geography']))

In [10]:
data = pd.concat([data, geography_encoded_df], axis=1)
data.drop('Geography', axis=1, inplace=True)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
#save encoder to use it in future when we will deploy our model
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)
with open('one_hot_encoder_geography.pkl', 'wb') as f:
    pickle.dump(ohe_geography, f)

In [13]:
#divide data into dependent and independent variables
X = data.drop('Exited', axis=1) #independent variables
y = data['Exited'] #dependent variable

#split data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [15]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [16]:
model = Sequential(
    [
        Dense(32, activation='relu', input_shape=(X_train_scaled.shape[1],)),
        Dense(16, activation='relu'),
        Dense(1) # for regression, no activation function in the output layer by default is linear activation function
    ]
)

c:\Users\Admin\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 32)             │           416 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,885 (11.27 KB)

 Trainable params: 961 (3.75 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 1,924 (7.52 KB)

In [17]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
history = model.fit(X_train_scaled, y_train, validation_split=0.2, epochs=50, batch_size=32, callbacks=[early_stopping, tensorboard_callback])

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 0.2406 - mean_absolute_error: 0.3631 - val_loss: 0.1454 - val_mean_absolute_error: 0.3015
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1392 - mean_absolute_error: 0.2850 - val_loss: 0.1309 - val_mean_absolute_error: 0.2725
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1223 - mean_absolute_error: 0.2603 - val_loss: 0.1254 - val_mean_absolute_error: 0.2702
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1178 - mean_absolute_error: 0.2528 - val_loss: 0.1199 - val_mean_absolute_error: 0.2526
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1124 - mean_absolute_error: 0.2418 - val_loss: 0.1173 - val_mean_absolute_error: 0.2492
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1065 - mean_absolute_error: 0.2291 - val_loss: 0.1157 - val_mean_absolute_error: 0.2366
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1109 - mean_absolute_error: 0.2362 - val_loss: 0.1149 - val_mean_absolute_error: 0.2477
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1066 - mean_absolute_error: 0.2299 - val_loss: 0.1142 - val_mean_absolute_error: 0.2291
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1063 - mean_absolute_error: 0.2255 - val_loss: 0.1133 - val_mean_absolute_error: 0.2457
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1064 - mean_absolute_error: 0.2270 - val_loss: 0.1122 - val_mean_absolute_error: 0.2339
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1049 - mean_absolute_error: 0.2231 - val_loss: 0.1115 - val_mean_absolute_error: 0.2412
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1017 - mean_absolute_error: 0.2198 - val_loss: 0.1114 - val_mean_absolute_error: 0.2337
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1061 - mean_absolute_error: 0.2254 - val_loss: 0.1117 - val_mean_absolute_error: 0.2229
Epoch 14/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1045 - mean_absolute_error: 0.2224 - val_loss: 0.1114 - val_mean_absolute_error: 0.2268
Epoch 15/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1009 - mean_absolute_error: 0.2153 - val_loss: 0.1122 - val_mean_absolute_error: 0.2382
Epoch 16/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0968 - mean_absolute_error: 0.2124 - val_loss: 0.1104 - val_mean_absolute_error: 0.2319
Epoch 17/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1004 - mean_absolute_error: 0.2161 - val_loss: 0.1110 - val_mean_absolute_error: 0.2226
Epoch 18/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1041 - mean_absolute_error: 0.2203 - val_loss: 0.1116 - val_mean_absolute_error: 0.2317
Epoch 19/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0992 - mean_absolute_error: 0.2129 - val_loss: 0.1102 - val_mean_absolute_error: 0.2234
Epoch 20/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0997 - mean_absolute_error: 0.2139 - val_loss: 0.1100 - val_mean_absolute_error: 0.2333
Epoch 21/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1015 - mean_absolute_error: 0.2176 - val_loss: 0.1112 - val_mean_absolute_error: 0.2291
Epoch 22/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0951 - mean_absolute_error: 0.2083 - val_loss: 0.1100 - val_mean_absolute_error: 0.2304
Epoch 23/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1022 - mean_absolute_error: 0.2199 - val_loss: 0.1111 - val_mean_absolute_error: 0.2269
Epoch 24/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.1042 - mean_absolute_error: 0.2205 - val_loss: 0.1097 - val_mean_absolute_error: 0.2232
Epoch 25/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0947 - mean_absolute_error: 0.2068 - val_loss: 0.1100 - val_mean_absolute_error: 0.2268
Epoch 26/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0978 - mean_absolute_error: 0.2131 - val_loss: 0.1096 - val_mean_absolute_error: 0.2253
Epoch 27/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0999 - mean_absolute_error: 0.2153 - val_loss: 0.1102 - val_mean_absolute_error: 0.2186
Epoch 28/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0958 - mean_absolute_error: 0.2061 - val_loss: 0.1090 - val_mean_absolute_error: 0.2219
Epoch 29/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0940 - mean_absolute_error: 0.2068 - val_loss: 0.1104 - val_mean_absolute_error: 0.2326
Epoch 30/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0995 - mean_absolute_error: 0.2149 - val_loss: 0.1095 - val_mean_absolute_error: 0.2221
Epoch 31/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0971 - mean_absolute_error: 0.2090 - val_loss: 0.1094 - val_mean_absolute_error: 0.2222
Epoch 32/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0946 - mean_absolute_error: 0.2057 - val_loss: 0.1099 - val_mean_absolute_error: 0.2286
Epoch 33/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0965 - mean_absolute_error: 0.2103 - val_loss: 0.1097 - val_mean_absolute_error: 0.2269
Epoch 34/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0962 - mean_absolute_error: 0.2096 - val_loss: 0.1098 - val_mean_absolute_error: 0.2273
Epoch 35/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0946 - mean_absolute_error: 0.2086 - val_loss: 0.1112 - val_mean_absolute_error: 0.2387
Epoch 36/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0989 - mean_absolute_error: 0.2128 - val_loss: 0.1102 - val_mean_absolute_error: 0.2208
Epoch 37/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0952 - mean_absolute_error: 0.2060 - val_loss: 0.1096 - val_mean_absolute_error: 0.2228
Epoch 38/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.0931 - mean_absolute_error: 0.2045 - val_loss: 0.1105 - val_mean_absolute_error: 0.2356

In [20]:
#evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test_scaled, y_test)
print(f'Test Loss: {test_loss}, Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.1100 - mean_absolute_error: 0.2232
Test Loss: 0.10904869437217712, Test MAE: 0.22317157685756683